<!DOCTYPE html>  
<html>  
<head>  
    <title>Viewdata</title>
       
</head>  
<body style="background-color:rgb(165, 238, 190);">  
  
<h3>Employee Information</h3>  
<table border=5>  
    <thead>  
        <td>ID</td>
        <td>NAME</td>  
        <td>EMAIL</td>  
        <td>LOCATION</td>  
        <td>SALARY</td> 
        <td>BAND</td> 
    </thead>  
      
    {% for row in rows %} 
      
            <tr>  
                <td>{{row[0]}}</td>  
                <td>{{row[1]}}</td>  
                <td>{{row[2]}}</td>  
                <td>{{row[3]}}</td>  
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>  
    {% endfor %}  
</table>  
<br><br>  
  
<p><a href="/backhome">Back to home page</a></p>
  
</body>  
</html>  